<%- include("partials/header.ejs") %> 
 
<body>
 <header style="font-size: 3rem;color: white;"><b>About the Development</b></header> 

<h1>"This WebSite is realtime example to showcase the learning done as part of bootcamp training <b>"The Complete WebDevelopment BootCamp".</b>
  I started this course when was chosen for a probable onsite position <b>'Professional Services Technical Consultant'.</b>
  <br>
  Based upon my willingness for the position and good feedback from my BRM Mr. Pavan Kumar Varanasi I was selected for this.
  However Its been 2 Months and still there is uncertainty around the onboarding. This uncertainty has given me bit distress but 
  it has not broken my willingness to learn new things. And It can't break ! I have learned new skill set and honed the existing one.
  I will keep the learning rolling." 
</h1>
<br><br>
<h2>
  Below skill sets  are used as part of this WebSite WebDevelopment
</h2>
<h3>
<ul>
  <li>
    HTML
  </li>
  <li>
    CSS
  </li>
  <li>
    Javascript
  </li>
  <li>
    Node.js and NPM
  </li>
  <li>
    Express 
  </li>
  <li>
    EJS
  </li>
</ul>
</h3>
<%- include("partials/footer.ejs") %>